/*********************** Universal Styles ***************************/
html{
    background-color: white;
}
body {
    background-image: url("../Images/background.png");
    background-repeat: repeat;
    border: solid 5px #022E6D;
    border-radius: 0px;
}
h1.main {
    text-align: center;
    color: #022E6D;
}
.right_position {
    right: 0;
    margin: 0%;
    text-align: right;
}
h1{
    text-align: center;
    font-size: 200%;
}

/*********************** Form Styles ***************************/
.form-container {
    margin-left: 20%;
    margin-right: 20%;
    border: black solid .5em;
    background-color: #C6C5C5;
    border-radius: 2em;
    box-shadow: 2px 2px 5px 5px #022E6D;
}
form {
    margin-top: 1%;
    color: white;
    font-size: 165%;
    font-weight: bolder;
}

input {
    color: black;
    width: 90%;
    height: 3vh;
}

.button {
    background-color: #022E6D;
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    font-size: 16px;
    margin-bottom: 1%;
}

.button:hover {
    background-color: #0066ff;
}
/*********************** Mobile Layout ***************************/
@media screen and (max-width: 1000px) {
    h1 {
        font-size: 250%;
    }
    .button{
        font-size: 24px;
    }
    .form-container{
        margin-left: 5%;
        margin-right: 5%;
    }
}