/*********************** Grid Layout ***************************/
.grid-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
        'header'
        'access'
        'about'
        'policy';
}
#heading{
    grid-area: header;
}
#about{
    grid-area: about;
}
#access{
    grid-area: access;
}
#policy{
    grid-area: policy;
}

/*********************** Index Styles ***************************/
h1.index {
    color: white;
    font-size: 400%;
}

h2.index {
    color: white;
    font-size: 200%;
}
.main {
    margin-left: 5%;
    margin-right: 5%;
}

div.main > object > p {
    font-size: 165%;
}

div.main > object > h1 {
    color: #022E6D;
}

div.main > object > h2 {
    font-size: 175%;
}
div.main > object > ul{
    font-size: 125%;
}

.container {
    position: relative;
    text-align: center;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.full-width {
    width: 100%;
}
